body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

header {
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h5 {
  color: #0062E6;
}

footer {
  background-color: #e9ecef;
}
